body {
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-input-full-width input {
    max-width: 100%;
}

/*#region Navigation bar */
.navbar {
    background: #4285f4;
    height: 50px;
    border: 0;
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

    .navbar a {
        color: #FFF !important;
    }

    .navbar:before {
        content: "";
        height: 50px;
        left: -2%;
        position: fixed;
        width: 104%;
    }

.navbar-inverse .navbar-collapse.in {
    background: #f8f8f8;
    border: 0px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

    .navbar-inverse .navbar-collapse.in a {
        color: #666 !important;
    }

.body-content {
    margin-top: 20px;
}
/*#endregion */

/*#region New LabTest */
.new-test-container {
}


    .new-test-container .get-data-caption {
        font-size: 26px;
    }

    .new-test-container .choose-source-container.test-on-process {
        display: none;
    }

    .new-test-container .choose-source-container {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

        .new-test-container .choose-source-container .brower-filedata-container {
            padding: 20px;
            border: 5px dashed rgba(0,0,0,.14);
        }

            .new-test-container .choose-source-container .brower-filedata-container .uploader-message-box {
                margin-bottom: 10px;
                text-align: center;
            }

                .new-test-container .choose-source-container .brower-filedata-container .uploader-message-box .inner-container {
                    padding: 10px;
                }

            .new-test-container .choose-source-container .brower-filedata-container a:first-of-type {
                margin-bottom: 10px;
            }

.new-test-information-container {
    display: none;
    padding: 20px;
}

    .new-test-information-container.active {
        display: block;
    }


    .new-test-information-container .start-test-container {
        display: none;
    }

        .new-test-information-container .start-test-container.active {
            display: block;
        }

    .new-test-information-container .test-tracking-timer {
        display: none;
    }

        .new-test-information-container .test-tracking-timer.active {
            display: block;
        }

.start-button-wrapper {
    display: none;
}

.color-wrapper {
    padding: 20px 0px;
    margin: 20px 0px;
    background: #F7F7F7;
}

    .color-wrapper .row {
        margin: 0px;
    }

.waiting-wrapper {
    padding: 20px 0px;
    margin: 20px 0px;
    background: #F7F7F7;
}

    .waiting-wrapper .total-waiting-student-wrapper {
        font-size: 600%;
    }

    .waiting-wrapper .total-waiting-label {
        font-size: 200%;
    }

    .waiting-wrapper .realtime-statistics-table {
        width: 100%;
    }

        .waiting-wrapper .realtime-statistics-table tr td {
            text-align: center;
            color: #FFF;
            margin-right: 2px;
            padding: 2px 0px;
        }

        .waiting-wrapper .realtime-statistics-table .waiting {
            background-color: #ed561b;
            overflow: hidden;
        }

        .waiting-wrapper .realtime-statistics-table .working {
            background-color: #4285f4;
            overflow: hidden;
        }

        .waiting-wrapper .realtime-statistics-table .finish {
            background-color: #50b432;
            overflow: hidden;
        }

em {
    display: inline-block;
    height: .8em;
    width: .8em;
}

.lab-tracking {
    display: none;
}
/*#endregion */

/*#region Loading gif */
@-webkit-keyframes uil-default-anim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes uil-default-anim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.uil-default-css > div:nth-of-type(1) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(2) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: -0.4166666666666667s;
        animation-delay: -0.4166666666666667s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(3) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: -0.33333333333333337s;
        animation-delay: -0.33333333333333337s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(4) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: -0.25s;
        animation-delay: -0.25s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(5) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: -0.16666666666666669s;
        animation-delay: -0.16666666666666669s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(6) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: -0.08333333333333331s;
        animation-delay: -0.08333333333333331s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(7) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(8) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: 0.08333333333333337s;
        animation-delay: 0.08333333333333337s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(9) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: 0.16666666666666663s;
        animation-delay: 0.16666666666666663s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(10) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(11) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: 0.33333333333333337s;
        animation-delay: 0.33333333333333337s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

    .uil-default-css > div:nth-of-type(12) {
        -webkit-animation: uil-default-anim 1s linear infinite;
        animation: uil-default-anim 1s linear infinite;
        -webkit-animation-delay: 0.41666666666666663s;
        animation-delay: 0.41666666666666663s;
    }

.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
/*#endregion */

/*#region loading spinner */
.has-spinner i {
    display: none;
}

.has-spinner.active i {
    display: inline-block;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

.glyphicon.fast-left-spinner {
    -webkit-animation: glyphicon-spin-l 1s infinite linear;
    animation: glyphicon-spin-l 1s infinite linear;
}

.glyphicon.normal-left-spinner {
    -webkit-animation: glyphicon-spin-l 2s infinite linear;
    animation: glyphicon-spin-l 2s infinite linear;
}

.glyphicon.slow-left-spinner {
    -webkit-animation: glyphicon-spin-l 3s infinite linear;
    animation: glyphicon-spin-l 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/*#endregion */

/*#region Do Test */
.form-clock {
    border: solid;
    border-width: 1px;
    border-color: brown;
    background-color: aliceblue;
    position: fixed;
    top: 80px;
    right: 25px;
    float: right;
    width: 120px;
    padding: 5px 2px 5px 2px;
}

.do-test-testGroup-div {
    position: relative;
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    margin: 10px 0px 10px 0px;
}

    .do-test-testGroup-div .single-question-div {
        position: relative;
        float: left;
        width: 100%;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: cornflowerblue;
        margin: 5px 0px 0px 0px;
        padding-left: 5px;
        padding-right: 5px;
        display: block;
    }

    .do-test-testGroup-div .group-question-div {
        position: relative;
        float: left;
        width: 100%;
        background-color: #fff2e6;
        margin: 0px 0px 0px 0px;
    }

        .do-test-testGroup-div .group-question-div .group-question-div-title h4 {
            padding-left: 3px;
            padding-right: 3px;
            font-size: 22px;
        }

    .do-test-testGroup-div .answer-td {
        align-items: center;
    }

    .do-test-testGroup-div .single-question-div ul {
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .do-test-testGroup-div .single-question-div ul li {
            position: relative;
            float: left;
            width: 100%;
        }

            .do-test-testGroup-div .single-question-div ul li input[type=radio] {
                position: absolute;
                visibility: hidden;
            }

            .do-test-testGroup-div .single-question-div ul li input[type=checkbox] {
                position: absolute;
                visibility: hidden;
            }


            .do-test-testGroup-div .single-question-div ul li input[type=text] {
                position: absolute;
                text-align: center;
                height: 20px;
                width: 30px;
                top: 7px;
                left: 20px;
            }

            .do-test-testGroup-div .single-question-div ul li label {
                position: relative;
                padding: 2px 2px 2px 50px;
                margin: 5px auto;
                height: 25px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
            }

            .do-test-testGroup-div .single-question-div ul li:hover label {
                color: #BBBBBB;
            }

            .do-test-testGroup-div .single-question-div ul li .check {
                position: absolute;
                border: 2px solid;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                top: 7px;
                left: 20px;
            }

            .do-test-testGroup-div .single-question-div ul li:hover .check {
                border: 2px solid #BBBBBB;
            }

            .do-test-testGroup-div .single-question-div ul li .check::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 10px;
                width: 10px;
                top: 3px;
                left: 3px;
            }

            .do-test-testGroup-div .single-question-div ul li .checkboxMultiQuiz {
                position: absolute;
                border: 2px solid;
                border-radius: 10%;
                height: 20px;
                width: 20px;
                top: 7px;
                left: 20px;
            }

            .do-test-testGroup-div .single-question-div ul li:hover .checkboxMultiQuiz {
                border: 2px solid #BBBBBB;
            }

            .do-test-testGroup-div .single-question-div ul li .checkboxMultiQuiz::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 10%;
                height: 10px;
                width: 10px;
                top: 3px;
                left: 3px;
            }


            .do-test-testGroup-div .single-question-div ul li .checkboxTrueFalse {
                position: absolute;
                border: 2px solid;
                border-radius: 10%;
                height: 20px;
                width: 20px;
                top: 7px;
                left: 20px;
            }

                .do-test-testGroup-div .single-question-div ul li .checkboxTrueFalse p {
                    margin-top: -2px;
                    margin-left: 3px;
                    color: red;
                    font: 12px/26px;
                    font-weight: bold;
                }

                    .do-test-testGroup-div .single-question-div ul li .checkboxTrueFalse p::before {
                        content: 'S';
                        color: red;
                    }

    .do-test-testGroup-div .single-question-div input[type=radio]:checked ~ .check {
        border: 2px solid #000066;
    }

        .do-test-testGroup-div .single-question-div input[type=radio]:checked ~ .check::before {
            background: #000066;
        }

    .do-test-testGroup-div .single-question-div input[type=radio]:checked ~ label {
        color: #000066;
    }

    .do-test-testGroup-div .single-question-div input[type=checkbox]:checked ~ .checkboxMultiQuiz {
        border: 2px solid #000066;
    }

        .do-test-testGroup-div .single-question-div input[type=checkbox]:checked ~ .checkboxMultiQuiz::before {
            background: #000066;
        }


    .do-test-testGroup-div .single-question-div input[type=checkbox]:checked ~ .checkboxTrueFalse p::before {
        content: '';
    }

    .do-test-testGroup-div .single-question-div input[type=checkbox]:checked ~ .checkboxTrueFalse p::after {
        content: 'Đ';
        color: green;
    }

.matchingText {
    text-align: center;
    height: 20px;
    width: 30px;
}

.div-focus-timer {
    position: fixed ;
    top: 30%;
    left: 40%;
    right: 40%;
    overflow: hidden;
    text-align: center;
    height:auto;
    z-index: 10;
}

.div-focus-timer-show{
    visibility:visible;
}
.div-focus-timer-hide{
    visibility:hidden;
}
    .div-focus-timer .span-timer {
        font-size: 30px;
    }
/*#endregion */
