@using BiTech.LabTest.DataObject.ViewModels
@model StudentViewModel.GroupQuestionViewModel

<div class="group-question-div">
    <div class="group-question-div-title">
        <h4>Câu chùm @Model.Content (cho @Model.SingleQuestionsList.Count câu sau)</h4>
    </div>
    @foreach (var qvm in Model.SingleQuestionsList)
    {
        <div>
            @switch ((qvm as StudentViewModel.QuestionObjectViewModel).QuestionType)
                {
                    case StudentViewModel.QuestionTypeEnum.Quiz:
                    case StudentViewModel.QuestionTypeEnum.Underline:
                        Html.RenderPartial("_TracNghiem1LuaChon", (StudentViewModel.SingleQuestion_String_OneChoice_ViewModel)qvm);
                        break;
                    case StudentViewModel.QuestionTypeEnum.QuizN:
                    case StudentViewModel.QuestionTypeEnum.TrueFalse:
                        Html.RenderPartial("_TracNghiemNhieuLuaChon", (StudentViewModel.SingleQuestion_Bool_MultiChoices_ViewModel)qvm);
                        break;
                    case StudentViewModel.QuestionTypeEnum.Fill:
                        Html.RenderPartial("_TracNghiemDienKhuyet", (StudentViewModel.SingleQuestion_String_MultiChoices_ViewModel)qvm);
                        break;
                    case StudentViewModel.QuestionTypeEnum.Matching:
                        Html.RenderPartial("_TracNghiemNoiCheo", (StudentViewModel.SingleQuestion_String_MultiChoices_ViewModel)qvm);
                        break;

                }
        </div>
    }
</div>

