

<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <a id="btnKeepSession"
       href="~/Student/KeepSession"
       data-ajax="true"></a>
</div>
<script>
    setInterval(function () { document.getElementById('btnKeepSession').click(); }, 30000);
</script>