<center>
    
</center>
<center>
    <h3>Xin chào <span class="text-primary">@ViewBag.StudentName</span></h3>
    <h3>Lớp<span class="text-primary">@ViewBag.ClassName</span></h3>
    <h3>Điểm đặt được: <span class="text-primary">@ViewBag.Score</span> </h3>
</center>


<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <a id="btnKeepSession"
       href="~/Student/KeepSession"
       data-ajax="true"></a>
</div>

<script>
    setInterval(function () { document.getElementById('btnKeepSession').click(); }, 30000);
</script>